body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}
.header{
  color: rgb(243, 238, 238);
  width: 100%;
  /* position: 0; */
  position: fixed;
  height: 90px;
  background: #1da5db;
  text-align: center;
 padding: 5px;
top: 0;

}
.nav{
  position:fixed;
  float: left;
  color: rgb(248, 245, 245);
  width: 15%;
  /* margin-right: 299999px; */
  padding-left: 15px;
  top: 12.5%;
  margin-top: 20px;
  height: 1000px;
  background: #266c8d;
}

.btn{
  background-color: rgb(55, 184, 184);
  text-emphasis: none;
  text-align: center;
  padding: 5px;
}
.btn2{
  background-color: #08a537;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
}
.btn1{
  background-color: rgb(196, 16, 16);
    text-emphasis: none;
    text-align: center;
    padding: 5px; 
}
/* login */
.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 5rem;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  height: 5rem;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  width: 100%;
  padding: 10px;
  background-color: #1b5374;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #15435e;
}
/* registration */
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.container label {
  display: block;
  margin-bottom: 8px;
}

.container input,
.container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container button {
  width: 100%;
  padding: 10px;
  background-color: #095a02;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button:hover {
  background-color: #074a01;
}

/* add user form */
.user-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 2000px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.user-form input {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.user-form button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.user-form button:hover {
  background-color: #218838;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 20px;
}

/* event manager form */
.event-manager {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.event-manager h1 {
  text-align: center;
}

.event-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.event-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.event-form input,
.event-form textarea {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.event-form button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.event-form button:hover {
  background-color: #218838;
}

.event-list {
  display: flex;
  flex-direction: column;
}

.event-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-item h2 {
  margin: 0 0 10px 0;
}

.event-item p {
  margin: 5px 0;
}

.event-item button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.event-item button:hover {
  background-color: #0056b3;
}

.event-item button:last-of-type {
  background-color: #dc3545;
}

.event-item button:last-of-type:hover {
  background-color: #c82333;
}
/* event report form */
.report-generator {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.report-generator h1 {
  text-align: center;
}

.report-generator button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.report-generator button:hover {
  background-color: #0056b3;
}

.report-data {
  margin-top: 20px;
  text-align: center;
}

.report-data h2 {
  margin-bottom: 10px;
}

.report-data p {
  margin: 5px 0;
  font-size: 16px;
}
/* Admin setting */
.admin-settings {
  display: flex;
  width: 80%;
  
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.settings-menu {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.settings-menu button {
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.settings-menu button:hover {
  background-color: #0056b3;
}

.settings-content {
  flex-grow: 1;
  margin-bottom: 1000px;
}

.settings-content h2 {
  margin-bottom: 20px;
}

.settings-content form {
  display: flex;
 
  flex-direction: column;
}

.settings-content label {
  margin-bottom: 10px;
  font-weight: bold;
}

.settings-content input {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.settings-content button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.settings-content button:hover {
  background-color: #218838;
}
.btn{
  background-color: #3fce32;
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

/* verification */
.event-verification {
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-left: 15%;
  margin-top: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.event-verification h1 {
  margin-bottom: 20px;
}

.event-verification form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-verification label {
  margin-bottom: 10px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.event-verification input,
.event-verification textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.event-verification button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.event-verification button:hover {
  background-color: #218838;
}

.verified-message {
  margin-top: 20px;
  font-size: 18px;
  color: green;
  font-weight: bold;
}
/* event respond to person */
.event-response {
  width: 50%;
  margin: auto;
  margin-top: 200px;
  margin-left: 2000%;
  padding: 20px;
  border: 1px solid #5f9e46;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.event-response h1 {
  margin-bottom: 20px;
}

.response-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.response-item {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #2ac50b;
  border-radius: 5px;
  background-color: #83ebd1;
  text-align: left;
}

.response-item h2 {
  margin-top: 0;
}

.response-item p {
  margin: 5px 0;
  font-size: 16px;
}

.response-item strong {
  font-weight: bold;
}
/* post event form */
.event-upload {
  width: 80%;
  margin: auto;
  margin-left: 15%;
  padding: 20px;
  border: 1px solid #51df35;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(17, 241, 66, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.event-upload h1 {
  margin-bottom: 20px;
}

.event-upload form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-upload label {
  margin-bottom: 10px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.event-upload input,
.event-upload select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #0993ac;
  border-radius: 5px;
  font-size: 16px;
}

.event-upload input[type="file"] {
  padding: 0;
}

.event-upload button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.event-upload button:hover {
  background-color: #218838;
}
/* event list */
.event-list {
  width: 60%;
  margin: auto;
  padding: 30px;
  border: 1px solid #50739c;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.event-list h1 {
  margin-bottom: 20px;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-item {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  text-align: left;
  cursor: pointer;
}

.event-item:hover {
  background-color: #e9e9e9;
}

.event-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.event-details h2 {
  margin-top: 0;
}

.event-details p {
  margin: 5px 0;
  font-size: 16px;
}

.event-details img {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.event-details button {
  margin-top: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.event-details button:hover {
  background-color: #218838;
}
/* send response to user */
.officer-response {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  text-align: center;
}

.officer-response h1 {
  margin-bottom: 20px;
}

.officer-response form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.officer-response label {
  margin-bottom: 10px;
  font-weight: bold;
  width: 100%;
  text-align: left;
}

.officer-response input,
.officer-response select,
.officer-response textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.officer-response textarea {
  height: 100px;
}

.officer-response button {
  margin-top: 20px;
  padding: 10px;
  border: none;

  border-radius: 5px;
  background-color: #28a745;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.officer-response button:hover {
  background-color: #218838;
}

/* eventTable */
.table-container {
  max-width: 50%;
  overflow-x: auto;
  margin: 20px auto;
  margin-left: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  overflow-y: auto;
  border-radius: 5px;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
}

.event-table th, .event-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.event-table th {
  background-color: #f2f2f2;
}

.event-table tr:hover {
  background-color: #f5f5f5;
}

.event-image {
  width: 100px;
  height: auto;
  border-radius: 5px;
}
/* event statistics */
.event-statistics {
  margin-top: 100px;
  margin-left: 190px;
  text-align: center;
  color: #1d1717;
  /* background-color: #ebe5e5; */
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  color: #08a537;
}

.card {
  background-color: #dbd7d7;
  border-radius: 10px;
  
  padding: 30px;
  width: 260px;
  box-shadow: 0 2px 4px rgba(230, 227, 227, 0.1);
}

.card h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

.card p {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  color: #08a537;
}


ul  li  a{
  list-style-type: none;
}

/* UpdateEvent.css */

.event-update {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-update h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

.event-update form {
  display: flex;
  flex-direction: column;
}

.event-update label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.event-update input[type="text"],
.event-update input[type="date"],
.event-update input[type="time"],
.event-update select,
.event-update input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
}

.event-update input[type="text"]:focus,
.event-update input[type="date"]:focus,
.event-update input[type="time"]:focus,
.event-update select:focus {
  border-color: #a29bfe;
  outline: none;
  box-shadow: 0 0 5px rgba(162, 155, 254, 0.5);
}

.event-update button {
  padding: 12px;
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.event-update button:hover {
  background-color: #4e3ec9;
}

/* EventTable.css */

.table-container {
  max-width: 77%;
  margin: 0 auto;
  margin-left: 240px;
  margin-top: 0%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.event-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.event-table th,
.event-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.event-table th {
  background-color: #6c5ce7;
  color: white;
}

.event-table td img.event-image {
  width: 100px;
  height: auto;
  object-fit: cover;
}

.btn, .btn1 {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #6c5ce7;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn:hover, .btn1:hover {
  background-color: #4e3ec9;
}

.btn1 {
  background-color: #e74c3c;
}

.btn1:hover {
  background-color: #c0392b;
}

/* Style for the main navigation container */
/* .nav {
  background-color: #267c15;
  padding: 20px;
  border-radius: 8px;
  margin-right:500%;
  margin: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
} */

/* Style for the heading inside the navigation */
.nav h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

/* Remove default list styling */
.nav ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

/* Style for individual list items */
.nav ul li {
  margin-bottom: 10px;
}

/* Style for the links */
.nav ul li a {
  text-decoration: none;
  color: #e2e4e6;
  font-size: 18px;
  transition: color 0.3s ease-in-out;
}

/* Hover effect for the links */
.nav ul li a:hover {
  color: black;
  font-weight: 300;
}

/* Style for the link container */
.nav ul li {
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for the link container */
.nav ul li:hover {
  background-color: #e9ecef;
}


.view-response-container {
  max-width: 800px;
  margin: 40px auto;
  margin-top: 103px;
  padding: 20px;
  background-color: #f7f1f1;
  border: 1px solid #108f69;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.response-data-grid {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #ccc;
}

.event-column {
  flex-basis: 40%;
  padding-right: 20px;
}

.separator {
  width: 1px;
  background-color: #ccc;
  margin: 0 20px;
}

.response-column {
  flex-basis: 60%;
  padding-left: 20px;
}

.event-column h2, .response-column h2 {
  margin-top: 0;
}

.loading-message {
  text-align: center;
  padding: 20px;
}